<!DOCTYPE html>
<html>
  <head>
    <title>Titel</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.js"integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/assets/admin.js"></script>
  </head>
  <body>
      <h1>Admin</h1>

    <% include partials/nav.ejs %>

    <h3>Add recipe</h3>

    <form id="Recipe-form" method="POST" action="/admin">
        <label for="Name">Name</label>
        <br>
        <input type="text" name="add">
        <br>
        <br>
        <label for="description">Description</label>
        <br>
        <input type="text" name="description">
        <br>
        <br>
        <label for="Category">Category</label>
        <br>
        <input type="text" name="Category">
        <br>
        <br>
        <label for="ingredient1">Ingredient</label>
        <br>
        <input type="text" name="ingredient">
        <br>
        <br>
        <input type="submit" value="submit">
    </form>

    <ul>
      <% for(let i=0; i < data.length; i++){%>
        <li><%= data[i].name %></li>
        <li><%= data[i].Category %></li>
      <% }; %>
    </ul>

    

  </body>
</html>