
<html>
  <head>
    <title>Titel</title>
    <meta charset="utf-8">
 <!-- <script src="https://code.jquery.com/jquery-3.3.1.js"integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/assets/index.js"></script>
  </head>-->
  <body>
    <h1>Recept & Näring</h1>
    <% include partials/nav.ejs %>


    <div id="recept-table">
      <form method="GET" action="/">
          <input type="text" name="search" placeholder="Search" required/>
          <button type="submit" value="Search">Search</button>
      </form>
    </div>

    <div id="receptFilter-table">
      <form method="GET" action="/recipefilterByCategories">
          <input type="text" name="search" placeholder="Frukost, Lunch, Middag or Kvällsmat " required/>
          <button type="submit" value="Search">Filter</button>
      </form>
    </div>

   <!-- <select method="GET" action="/recipefilterByCategories">
      <option disabled value="">Välj kategori</option>
      <option name="search" value="Frukost">Frukost</option>
      <option value="Lunch">Lunch</option>
      <option value="Middag">Middag</option>
      <option value="Kvällsmat">Kvällsmat</option>
    </select>
    <button type="submit" value="Search">Filter</button>-->

      <% recept.forEach(function(r){ %>
        <h3><%= r.name %></h3>
        <img src="<%= r.urlToImg %>">
        <% for(let i = 0; i < r.ingredients.length; i++){ %>
          <h3>Ingredients</h3>
          <ul>
            <li><%= r.ingredients[i].name %></li>
            <li>Antal: <%= r.ingredients[i].units %></li>
          </ul>
        <% } %>
      <% }); %> 
    
    <aside>   

    </aside>

  </body>
</html>